<h1>Ivan the Terrible's Blog</h1>

<section class="blog">
  <%= render :partial => 'post', :collection => @posts %>
  <%= will_paginate @posts %>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
